@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  height: 58px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.header .navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar .logo {
  font-family: "Open Sans";
  font-size: 24px;
  color: #0A5582;
  margin: 2%;
}

.header .navbar .menu-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .navbar .menu-container .hamburger {
  display: none;
}

.header .navbar .menu-container .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.header .navbar .menu-container .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .navbar .menu-container .menu-items a {
  font-family: "Open Sans";
  font-size: 13px;
  color: #1E2D37;
  padding: 20px;
}

.header .navbar .menu-container .search-bar {
  padding: 4px 15px;
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 10%;
}

.header .navbar .menu-container .search-bar i {
  font-size: 12.49px;
}

.header .navbar .menu-container .search-bar .search-input {
  border: none;
  outline: none;
  width: 121px;
  padding-left: 10.51px;
}

@media only screen and (max-width: 768px) {
  .menu-items {
    position: fixed;
    left: -100%;
    top: 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .menu-items.active {
    left: 0;
  }
  .nav-item {
    margin: 2.5rem 0;
  }
  .header .navbar .menu-container .hamburger {
    display: block;
    cursor: pointer;
  }
  .search-bar {
    display: none;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}

.article-wrapper {
  display: -ms-grid;
  display: grid;
}

.article-wrapper .textover {
  position: relative;
  max-width: 600px;
}

.article-wrapper .textover figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 10px;
  text-align: left;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}

.article-wrapper .textover img {
  width: 100%;
}

.article-wrapper .second {
  width: 392px;
}

.article-wrapper .textunder {
  border: 1px solid black;
  width: 392px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article-wrapper .textunder ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

img {
  vertical-align: middle;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  color: white;
}

.brand {
  position: absolute;
  top: 8px;
  left: 16px;
  background-color: #ff62cb;
  font-size: 30px;
}

.brand2 {
  position: absolute;
  top: 8px;
  left: 16px;
  background-color: #ff831e;
  font-size: 30px;
}

.brand3 {
  position: absolute;
  top: 8px;
  left: 16px;
  background-color: #1582ff;
  font-size: 30px;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {
    opacity: .5;
  }
  to {
    opacity: 2;
  }
}

@keyframes fade {
  from {
    opacity: .5;
  }
  to {
    opacity: 2;
  }
}

a:link {
  color: white;
}

a:visited {
  color: white;
}
/*# sourceMappingURL=style.css.map */